@import '../../variables';

:host{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  mat-card{
    max-width: 400px;
    width: 100%;
  }
  a{
    color: $accent;
  }
}
.full-width{
  width: 100%;
}
